{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.video-section__media{position:relative;padding-bottom:56.25%}.video-section__media.deferred-media{box-shadow:var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow),var(--media-shadow-opacity))}.video-section__media.deferred-media:after{content:none}.video-section__poster.deferred-media__poster:focus{outline-offset:0.3rem}.video-section__media iframe{background-color:rgba(var(--color-foreground),.03);border:0}.video-section__media iframe,.video-section__poster{position:absolute;width:100%;height:100%}.deferred-media__poster{background-color:transparent;border:none;cursor:pointer;margin:0;padding:0;height:100%;width:100%;overflow:hidden}.media>.deferred-media__poster{display:flex;align-items:center;justify-content:center}.deferred-media__poster img{width:auto;max-width:100%;height:100%}.deferred-media{overflow:hidden}.deferred-media:not([loaded]) template{z-index:-1}.deferred-media[loaded]>.deferred-media__poster{display:none}.deferred-media__poster:focus-visible{outline:0;box-shadow:0 0 0 var(--media-border-width) rgba(var(--color-foreground),var(--media-border-opacity)),0 0 0 calc(var(--media-border-width) + .3rem) rgb(var(--color-background)),0 0 0 calc(var(--media-border-width) + .5rem) rgba(var(--color-foreground),.5);border-radius:calc(var(--media-radius) - var(--media-border-width))}.deferred-media__poster:focus{outline:0;box-shadow:0 0 0 var(--media-border-width) rgba(var(--color-foreground),var(--media-border-opacity)),0 0 0 calc(var(--media-border-width) + .3rem) rgb(var(--color-background)),0 0 0 calc(var(--media-border-width) + .5rem) rgba(var(--color-foreground),.5);border-radius:calc(var(--media-radius) - var(--media-border-width))}.deferred-media__poster:focus:not(:focus-visible){outline:0;box-shadow:none}.deferred-media__poster-button{background-color:rgb(var(--color-background));border:.1rem solid rgba(var(--color-foreground),.1);border-radius:50%;color:rgb(var(--color-foreground));display:flex;align-items:center;justify-content:center;height:6.2rem;width:6.2rem;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%) scale(1);transition:transform var(--duration-short) ease,color var(--duration-short) ease;z-index:1}.deferred-media__poster-button:hover{transform:translate(-50%,-50%) scale(1.1)}.deferred-media__poster-button .icon{width:2rem;height:2rem}.deferred-media__poster-button .icon-play{margin-left:.2rem}</style>
{% endif %} 
<link rel="stylesheet" data-href="{{ 'video-section.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-deferred-media.css' | asset_url }}">

<style>
  .video-section {
    max-height: {{ section.settings.desktop_height }};
    overflow: hidden;
  }

  .video-overlay-image {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 20%;
  	top:50%;
    transform: translateY(-50%);
  }
  .video-container {
    position: relative;
  }
  
  .video-banner {
    object-fit: cover;
    display: block;
  }
  
  @media only screen and (max-device-width: 768px) { 
    .video-section { 
      height: {{ section.settings.mobile_height }};  
    } 
    .video-banner {
      height: {{ section.settings.mobile_height }};
    }
  }  

</style>

<div class="video-section{% unless section.settings.full_width %} page-width{% endunless %}">
  <div{% if section.settings.full_width %} class="page-width"{% endif %}>
    <h2 class="title">{{ section.settings.heading }}</h2>
  </div>
  
  <div class="video-container">
    {%- if section.settings.logo_image -%}
    <img class="video-overlay-image" src="{{ section.settings.logo_image | img_url: 'master' }}">
    {%- endif -%}

    <videolazy class="video-banner" playsinline="" autoplay="" loop="" width="100%" data-class="LazyLoad">
      <source data-src="{{section.settings.video_url}}" type="video/mp4">
    </videolazy>
  </div>

</div>
            
{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "text",
      "id": "desktop_height",
      "default": "100%",
      "label": "Desktop height"
    },
    {
      "type": "text",
      "id": "mobile_height",
      "default": "100%",
      "label": "Mobile height"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "t:sections.video.settings.video_url.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
        "type": "header",
        "content": "Overlay content"
    },
    {
      "type": "text",
      "id": "subtext",
      "default": "Swimwear",
      "label": "Subtext"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Overlay logo image"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
  {% endschema %}
