<style>
  div#test-modal {
    width: 900px;
    margin: 0 auto;
    height: 500px;
    position: relative;
}
.popup-modal-dismiss {
    position: absolute;
    top: -30px;
    right: 0px;
    font-size: 30px;
}  
video#videoBG {
    border-radius: 10px;
}  
</style>

<!-- Video -area -->
	<section class="video-area video-bg slider-item slider-bg">
		<video id="videoBG" autoplay muted loop>
			<source src="{{section.settings.video}}" type="video/mp4">
		</video>

		<div class="custom-page-width">
			<div class="grid center">
				<div class="video-width">
					<div class="video-play">
<!-- 						<a href="{{section.settings.video}}" class="popup-video"><i class="fa fa-play"></i></a>
                       -->
                      
                      <a class="popup-modal popup-video" href="#test-modal"><i class="fa fa-play"></i></a>

                      <div id="test-modal" class="white-popup-block mfp-hide">
                          <video id="videoBG" controls autoplay muted style="width:900px; height:500px; margin: 0 auto; z-index: 2;">
                                  <source src="{{section.settings.video}}" type="video/mp4">
                              </video>
                          <p><a class="popup-modal-dismiss" href="#">×</a></p>
                      </div>
					</div>
					<div class="video-title center">
						<h2>{{ section.settings.title }}</h2>
						{{ section.settings.text }}
						<a href="{{ section.settings.btn_link }}" class="btn">{{ section.settings.btn }}</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Video-area-end -->





{% schema %}
  {
    "name": "Video Area",
    "settings": [
		{
          "type": "text",
          "id": "video",
          "label": "Video link"
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title"
        },
		{
          "type": "richtext",
          "id": "text",
          "label": "text"
        },
		{
          "type": "text",
          "id": "btn",
          "label": "Button"
        },
		{
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        }
	],
	"presets": [
       {
        "name": "Video Area"
       }
	 ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
